<section>
  <h1>Angular v17</h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/cart">Cart</a>
        |
        <a routerLink="/products">Products</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>  
<hr>
  <!-- new iteration sintax -->
  @for (num of data; track num) {
    <p>{{num}}</p>
  }
<hr>
<!-- new ng if sintax -->
<hr>

  <div class="input-group-text">
    <label>
      Cloudy <input type="radio" [checked]="(weather == 'cloudy'? true : false)" (click)="changeWeather('cloudy')">
    </label>
  </div>
  <div class="input-group-text">
    <label>
      Sunny <input type="radio"  [checked]="(weather == 'sunny'? true : false)" (click)="changeWeather('sunny')">
    </label>
  </div>

  @if (weather =='sunny') {
    ☀️
  } @else {
    ⛅
  }
<hr>
<!-- defer -->
<hr>
  @defer (on hover) {
    <h1>Appears on hover</h1>
  } @placeholder {
    <div>Placeholder of hover</div>
  }
<hr>
<hr>
  @defer (on interaction) {
    <h1>Appears when clicking</h1>
  } @placeholder {
    <div>Placeholder of interaction click</div>
  }
<hr>
<hr>
  @defer (on timer(2000)) {
    <h1>Appears after 2 seconds</h1>
  } @placeholder {
    <div>Placeholder of timer</div>
  }
<hr>

</section>

<section>
  <h1>HttpClient</h1>
  <pre>
    {{products$ | async | json}}
  </pre>
</section>